body {
	background: #FFF url('../images/bluebackground.gif') repeat-X;
	margin: 0;
	padding: 0;
}


/**
* Logo: we must insert an image here!
*/
#header #logo h1 {
	font: bold 30px Arial;
	color: #981A21;
	padding: 0 0 0 20px;
}


/**
* Main red menu
*/
#mainmenu {
	background-color: #981A21;
	height: 25px;
}

#mainmenu li {
	list-style: none;
	float: left;
	padding: 2px 5px;
}

#mainmenu li a {
	font: 12px Verdana;
	color: #FFF;
	text-decoration: none;
}

#mainmenu li a:hover {
	text-decoration: underline;
}



/**
* Left menu
*/
#left li {
	list-style: none;
	margin-bottom: 5px;
}

#left li a {
	font: 12px Verdana;
	color: #333;
	text-decoration: none;
}

#left li a:hover {
	color: #000;
	background-color: #FF0;
	text-decoration: underline;
}
